h1,h2,h3,h4,h5,h6{font-weight:500;line-height:1.1;margin-bottom:0.3em;color:inherit}
h1{font-size:2.2em;}
h2{font-size:2em;}
h3{font-size:1.8em;}
h4{font-size:1.7em;}
h5{font-size:1.5em;}
h6{font-size:1.3em;}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-weight:700;color:inherit}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{font-weight:400}

p{margin-bottom:1em;line-height:1.5;}


a{
	color: #4080c0;
	text-decoration:none;
	background:transparent;
}
a:hover {
    color: #3077c0;
    text-decoration: none;
    outline: 0;
}
a:focus{
	color: #2070c0;
	outline:0;
}
a:active{
	outline:0;
}


::-webkit-selection {
    background-color: #cce0ff;
    color: rgba(0,0,0,.87)
}

::-moz-selection {
    background-color: #cce0ff;
    color: rgba(0,0,0,.87)
}

::selection {
    background-color: #cce0ff;
    color: rgba(0,0,0,.87)
}


