// type of displays
.block{display:block;width:100%;}
.compact{display:inline-block}

// border radius
.circle{@include border-radius(50%)}
.rounded{@include border-radius(10rem)}


// sizes
.xs{
	font-size: 60%;
}
.sm{
	font-size: 85%;
}
.lg{
	font-size: 120%;
}
.xl{
	font-size: 150%;
}

.disabled-f, :disabled{
	opacity:0.6;
	cursor: not-allowed;
	pointer-events: none;
}
.disabled{
	opacity:0.6;
}

.txtR{
	text-align: right;
}

.txtL{
	text-align: left;
}
.txtC{
	text-align: center;
}

.txtRa{
	text-align: right;
}
.rtl .txtRa{
	text-align: left;
}

.txtLa{
	text-align: left;
}
.rtl .txtLa{
	text-align: right;
}

.txtB{font-weight:700;}

.fadeIn{
	display:none;
}

