// type of displays
.block{display:block;width:100%;}
.compact{display:inline-block}

// border radius
.circle{@include border-radius(50%)}
.rounded{@include border-radius(10rem)}


.box100{
  display: block;
  margin: 0 auto;
  max-width: 100px;
  overflow: hidden;
}

[data-confirm]{cursor:pointer}

// sizes
.xs{
	font-size: 60%;
}
.sm{
	font-size: 85%;
}
.lg{
	font-size: 120%;
}
.xl{
	font-size: 150%;
}

.disabled-f, :disabled{
	pointer-events: none;
	cursor: not-allowed;
	opacity:0.6;
}
.loading-form form{
	cursor:progress;
}
.loading-form form :disabled{
	pointer-events: auto;
	cursor: progress;
}
.loading-form form.submitedForm :disabled{
	cursor: wait;
}
.disabled{
	opacity:0.6;
}

.txtR{
	text-align: right!important;
}

.txtL{
	text-align: left!important;
}
.txtC{
	text-align: center!important;
}

.ltr .txtRa{
	text-align: right!important;
}
.rtl .txtRa{
	text-align: left!important;
}

.ltr .txtLa{
	text-align: left!important;
}
.rtl .txtLa{
	text-align: right!important;
}

.txtB{
	font-weight:700!important;
}

.fadeIn{
	display:none;
}

