/* Design for print */
@media print {

  // for siftl panel
  .siftal > #sidebar{display:none;}
  .siftal > #main > header{display:none;}
  .siftal > #main > footer{display:none;}
  .siftal .scr::-webkit-scrollbar{display:none;}
  .superAdmin{display:none;}
  .xaccess{display:none;}

}

