
# ----------------------------------------------------- enable cross-origin resource sharing
Header always append X-Frame-Options SAMEORIGIN
Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Headers "origin, x-requested-with, content-type"
#Header set Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"