/* siftal layout */
.siftal{
	min-height:100%;
	height:100%;
	color:#333;
	background-color:#f2f2f2;
	-webkit-touch-callout:none;
	cursor:default;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	// disable user select
	-webkit-user-select: none;
	-moz-user-select:none;
	user-select:none;

	// add overflow start bug of scroll on mobiles like iphone!
	// overflow-x:hidden;
	// overflow-y:auto;
}

// main
.siftal #main{min-height:100%; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; transition: all 300ms cubic-bezier(.694, .0482, .335, 1); }
.siftal.ltr #main{margin-left:250px;}
.siftal.rtl #main{margin-right:250px;}
// sidebarShadow
.siftal #main:before{content:"";position:fixed;top:0;right:0;left:0;height:0;width:100%;z-index:9;;cursor:col-resize;background-color:rgba(0,0,0,0.7);transition:.3s; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;}
.siftal #main:after{content:"\e041";font-family:"siftal","tahoma"!important;font-size:40px;line-height:50px;color:#ccc;padding:0 2rem; position:fixed;top:-50px;left:250px;height:50px;width:100%;z-index:10;background-color:rgba(0,0,0,0.7);cursor:pointer;transition:.3s; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;}
.siftal.rtl #main:after{left:initial;right:250px;}
// sidebarShadow hover
.siftal #main:hover:before{background-color:rgba(0,0,0,0.5);}
.siftal #main:hover:after{color:#eee;}
// sidebar
.siftal #sidebar{overflow:hidden;overflow-y:auto;width:250px;height:100%;position:relative;background-color:#302b2b;user-select:none;position:fixed;top:0;bottom:0;z-index:10; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; transition: all 200ms cubic-bezier(.694, .0482, .335, 1);transition-property:right,left;transform: translateX(0)}
.siftal.ltr #sidebar{left:0}
.siftal.rtl #sidebar{right:0}

//----------------------------------- clean mode style
// main
.siftal[data-clean].ltr #main {margin-left:0;}
.siftal[data-clean].rtl #main {margin-right:0;}
// sidebar
.siftal[data-clean] #sidebar {display:block;position:fixed;top:0;bottom:0;left:-250px;}
.siftal[data-clean].rtl #sidebar{right:-250px;left:initial;}
.siftal[data-clean] #sidebar figure{margin:2em 0;}
.siftal[data-clean] .dashHead .sidenavHandler{-webkit-box-flex: 0;-webkit-flex: 0 0 auto;-ms-flex: 0 0 auto;-moz-box-flex: 0;flex: 0 0 auto;max-width: initial;display: flex !important;}

//----------------------------------- slideout mode
// sidebar
.siftal[data-sidebar].ltr #sidebar{left:0!important}
.siftal[data-sidebar].rtl #sidebar{right:0!important}
.siftal[data-sidebar] #main:before{bottom:0;height:100%;}
.siftal[data-sidebar] #main:after{top:0;}


// cloner class
.siftal .dashHead.cloner{position:fixed;z-index:8;top:-100%;width:100%;width:calc( 100% - 250px); -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; transition: all 200ms cubic-bezier(.694, .0482, .335, 1);transform: translateX(0);}
.siftal .dashHead.cloner[data-cloner-trigger]{top:0;}














// .siftal #main{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:-moz-box;display:flex;flex-direction:column;width:100%;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;overflow:hidden;-webkit-box-flex:1;-ms-flex:1;-webkit-flex:1;-moz-box-flex:1;flex:1}
.siftal #main #content{padding:1em 2%;}





body.siftal .full{width:100%;height:100%;}
body.siftal .full .middle{width:100%;max-height:100%;}
body.siftal .cbox table{
	-webkit-user-select: text;
	-moz-user-select: text;
	user-select: text;
}
.siftal form #mobile{direction:ltr;}
.siftal form #email{direction:ltr;}










// specially for supervisors:)
.siftal[data-in="su"]{background-color:#333;}
.siftal[data-in="su"] .dashHead{background-color:#111;box-shadow:0 1px 5px rgba(255, 255, 255, 0.2)}
.siftal[data-in="su"] .tbox{background-color:#111;color:#bbb}
.siftal[data-in="su"] .tbox:hover{border-color:#444}
.siftal[data-in="su"] .tbox .badge.light{background-color:#555;color:#bbb;}
.siftal[data-in="su"] .cbox{background-color:#222;color:#aaa}
.siftal[data-in="su"] .dcard{background-color:rgba(0, 0, 0, 0.3);color:#aaa}
.siftal[data-in="su"] .chart rect.highcharts-background{fill:#111}
.siftal[data-in="su"] .chart rect.highcharts-button-box{fill:#222}
.siftal[data-in="su"] .chart path.highcharts-axis-line{stroke:#000}
.siftal[data-in="su"] .chart path.highcharts-grid-line{stroke:#000}
.siftal[data-in="su"] .msg{background-color:#444;color:#ddd;}
.siftal[data-in="su"] .input{color:#777}
.siftal[data-in="su"] .input input{background-color:#000;color:#eee}
.siftal[data-in="su"] .input .addon:not(.btn){color:#bbb;}
.siftal[data-in="su"] .select{background-color:#000;color:#eee}
.siftal[data-in="su"] .txt{background-color:#000;color:#bbb}
.siftal[data-in="su"] .txt:hover{border-color:#777}
.siftal[data-in="su"] .switch1 label:first-of-type{background-color:#555;}
.siftal[data-in="su"] .switch1 input:checked + label:first-of-type{background-color:#225c8a;}
.siftal[data-in="su"] .input input:focus, .siftal[data-in="su"] .input.focus input{border-color:#777}
.siftal[data-in="su"] .select:focus, .siftal[data-in="su"] .select.focus{border-color:#777}
.siftal[data-in="su"] .btn{background-color:#333;color:#ccc;}
.siftal[data-in="su"] .dark.outline{color:#ccc}
.siftal[data-in="su"] .pagination{background-color:#000;}
.siftal[data-in="su"] .pagination a{color:#ccc;}
.siftal[data-in="su"] .pagination a:link:hover{color:#eee;background-color:#333}


// openable table for notification
.tbl1.openable th.type, .tbl1.openable td.type{width:60px;text-align:center;}
.tbl1.openable th.subject, .tbl1.openable td.subject{width:70%;}
.tbl1.openable th.date, .tbl1.openable td.date{width:150px;}
.tbl1.openable td.type i{background-color:#eee;padding:5px;border-radius:50%;width: 40px;height: 40px;line-height: 32px;font-size: 1.2em;display: block;margin:0 auto;}

.tbl1.openable tbody tr{cursor: pointer;}
.tbl1.openable tbody tr[data-open-disable]{cursor: auto;}
.tbl1.openable tbody tr [data-openable-open] {display: none}
.tbl1.openable tbody tr td.subject .title{font-weight:700;margin-bottom:0.5em;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.tbl1.openable tbody tr[data-open] td.subject .title{white-space:normal}
.tbl1.openable tbody tr td .sendVia{margin-top:0.5em;}

