.siftal[data-in="pay"]{
	background-color:#fff;
}

.siftal[data-in="pay"] .tbox{
	display: none;
}

.siftal[data-in="pay"] #main #content{padding:0;}
.siftal[data-in="pay"] .animatedBgBox {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
}
.siftal[data-in="pay"] .bgImage {
    height: calc(100vh + 400px);
    width: calc(200vw + 400px);
    position: absolute;
    top: 0;
    left: -400px;
    z-index: -1;
    background: url(../images/pattern/diagonal-line1.png);
    -webkit-animation: backgroundscroll 30s linear infinite;
    animation: backgroundscroll 30s linear infinite;
}
@-webkit-keyframes backgroundscroll { to { -webkit-transform: translate(400px, -400px); transform: translate(400px, -400px); } }
@keyframes backgroundscroll { to { -webkit-transform: translate(400px, -400px); transform: translate(400px, -400px); } }

$payBoxBg: #c5e2ff;

.payBox{
  min-width: 280px;
  box-shadow: 0px 0px 4rem 1px #eee;
  border-radius: 9px;
  margin-top: 1em;
}
.payBox .topBox{
	color: #1f8fff;
	overflow: visible!important;
}
.payBox .topBox .priceBox{
  	background: $payBoxBg;
	text-align: left;
	padding:0 1rem;
	height: 120px;
	overflow: hidden;
}
.payBox .topBox .price{
	display: inline-block;
	vertical-align: middle;
	font-size: 120px;
	line-height: 150px;
	overflow: hidden;
	height: 120px;
}
.payBox .topBox .unit{
	display: inline-block;
}


.payBox .breakLine {
  width: 20px;
  height: 100px;
  margin: 10px 0;
  position: relative;
  box-shadow: 0 1px 0 0 #fff, 0 -1px 0 0 #fff;
  background-color:$payBoxBg;
}
.payBox .breakLine:before, .payBox .breakLine:after {
  content: '';
  position: absolute;
  right: -5px;
  width: 30px;
  height: 30px;
  top: 50%;
  border: 5px solid transparent;
  border-top-color: $payBoxBg;
  border-right-color: $payBoxBg;
  border-radius: 100%;
  pointer-events: none;
  -webkit-transform:rotate(-225deg);
          transform:rotate(-225deg);
}
.payBox .breakLine:before {
  top: -25px;
}
.payBox .breakLine:after {
  -webkit-transform:rotate(-45deg);
          transform:rotate(-45deg);
  top: 95px;
}
.payBox .breakLine i{
	display: block;
	width: 0;
	height: 100%;
	margin: 0 auto;
  	border-right:3px dotted #fff;
}


.payBox .status{
  background-color:$payBoxBg;
}
.payBox .myStatus{
	font-size: 80px;
	line-height: 120px;
	overflow: hidden;
	height: 120px;
	display: block;
	text-align: center;
}



