.tbox{
	margin: 0.5em 0 1.5em;
	font-size: 1.2em;
	position: relative;
	padding: 1em 1.5em;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	line-height: 1.25;
	opacity: 0.7;
	background-color: #f7f7f7;
	color: #444;
	transition:0.3s;
	display: block;
}

.tbox p{
	color: #777;
	margin-bottom:0;
}
.tbox:hover{
	opacity:0.9;
}
.tbox h2{
	font-weight: 700;
	font-size: 1.5em;
}




.cbox{
	font-size: 1.4em;
	margin-bottom: 1.5em;
	padding: 1em 1.5em;
	display: block;
	border-radius: 0.25rem;
	background-color: #fff;
	color: #555;

}

.cbox .example{
	padding: 1em;
}


.ibox{
	background-color: #eee;
	border-radius: 0.25rem;
	display: block;
	padding: 1em 1.5em;
	margin:1em;
}



// data box used for dashboard
.dcard{
	font-size: 1.2em;
	margin: 0 5px 10px;
	border-radius: 0.25rem;
	background-color: rgba(255,255,255,0.8);
	color: #555;
	padding: 1em 1.5em;
	opacity: 0.8;
	transition: 0.3s;
	overflow: hidden;
	min-height: 90px;

	@include flexbox();
	@include align-items(center);
	@include justify-content(center);
	@include flex-direction(column);
}
.dcard:hover{
	opacity: 1;
	background-color: rgba(255,255,255,1);
}
.dcard h1,.dcard h2,.dcard h3,.dcard h4,.dcard h5{
	margin:0;
}
.dcard .fc-mute{
	font-weight: 100;
}
.dcard [class^="sf-"]:before, .dcard [class*=" sf-"]:before{
	vertical-align: baseline;
}


.dcard.x2{
	min-height: 190px;
}

.dcard.x3{
	min-height: 290px;
}

.dcard.x4{
	min-height: 390px;
}


