// data box used for dashboard
.dcard{
	font-size: 1.2em;
	margin: 0 5px 10px;
	border-radius: 0.25rem;
	background-color: rgba(255,255,255,0.8);
	color: #555;
	padding: 1em 1.5em;
	opacity: 0.8;
	transition: background-color 0.3s;
	overflow: hidden;
	min-height: 90px;
	border:1px solid transparent;
	position:relative;

	@include flexbox();
	@include align-items(center);
	@include justify-content(center);
	@include flex-direction(column);
}
.dcard:hover{
	opacity: 1;
	background-color: rgba(255,255,255,1);
}
.dcard h1,.dcard h2,.dcard h3,.dcard h4,.dcard h5{
	margin:0;
}
.dcard .fc-mute{
	font-weight: 100;
}
.dcard [class^="sf-"]:before, .dcard [class*=" sf-"]:before{
	vertical-align: baseline;
}

.dcard.x1{
	height: 90px;
}


.dcard.x2{
	min-height: 190px;
}

.dcard.x3{
	min-height: 290px;
}

.dcard.x4{
	min-height: 390px;
}


.dcard .chart{height:90px;}
.dcard.x2 .chart{height:190px;}
.dcard.x3 .chart{height:290px;}
.dcard.x4 .chart{height:390px;}


.dcard .progress{margin: 0}

.dcard.active{border-color:$blue;}
.dcard.active:before{
	position: absolute;
	display: block;
	border-top: 28px solid $blue;
	border-left: 28px solid transparent;
	right: 0;
	content: "";
	top: 0;
	z-index: 1;
}
.dcard.active:after{
    position: absolute;
    display: block;
    content: "";
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    height: 5px;
    width: 10px;
    right: 2px;
    top: 4px;
    z-index: 2;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


