
// include all paddings
@include paddingAll(0);
@include paddingAll(1);
@include paddingAll(3);
@include paddingAll(5);
@include paddingAll(10);
@include paddingAll(15);
@include paddingAll(20);
@include paddingAll(25);
@include paddingAll(50);
@include paddingAll(100);
.pAn{
	padding: 0!important;
}

// include all margin
@include marginAll(0);
@include marginAll(1);
@include marginAll(3);
@include marginAll(5);
@include marginAll(10);
@include marginAll(15);
@include marginAll(20);
@include marginAll(25);
@include marginAll(50);
@include marginAll(100);
.mLRa{
	margin-right:auto;
	margin-left: auto;
}

// include all floats
.floatR{float:right}
.floatL{float:left}
.floatN{float:none}

.ltr .floatRa{float:right}
.rtl .floatRa{float:left}
.ltr .floatLa{float:left}
.rtl .floatLa{float:right}


// include all font sizes
.fs05{font-size: 0.5em}
.fs06{font-size: 0.6em}
.fs07{font-size: 0.7em}
.fs08{font-size: 0.8em}
.fs09{font-size: 0.9em}
.fs10{font-size: 1em}
.fs11{font-size: 1.1em}
.fs12{font-size: 1.2em}
.fs13{font-size: 1.3em}
.fs14{font-size: 1.4em}
.fs15{font-size: 1.5em}
.fs16{font-size: 1.6em}
.fs17{font-size: 1.7em}
.fs18{font-size: 1.8em}
.fs19{font-size: 1.9em}
.fs20{font-size: 2em}
.fs25{font-size: 2.5em}
.fs30{font-size: 3em}
.fs35{font-size: 3.5em}
.fs40{font-size: 4em}
.fs50{font-size: 5em}
.fs60{font-size: 6em}
.fs70{font-size: 7em}
.fs80{font-size: 8em}
.fs90{font-size: 9em}
.fs100{font-size: 10em}


// all font colors
.fc-red    		{color: $red};
.fc-orange 		{color: $orange};
.fc-yellow 		{color: $yellow};
.fc-olive  		{color: $olive};
.fc-green  		{color: $green};
.fc-teal   		{color: $teal};
.fc-blue   		{color: $blue};
.fc-violet 		{color: $violet};
.fc-purple 		{color: $purple};
.fc-pink   		{color: $pink};
.fc-brown  		{color: $brown};
.fc-grey   		{color: $grey};
.fc-graylight   {color: $graylight};
.fc-black  		{color: $black};
.fc-white  		{color: $white};
.fc-mute  		{color: $fcMute};
.fc-danger 		{color: $fcDanger};
.fc-warn  		{color: $fcWarn};
.fc-info  		{color: $fcInfo};

// all background colors
.bg-red 		{background-color: $red}
.bg-orange 		{background-color: $orange}
.bg-yellow 		{background-color: $yellow}
.bg-olive 		{background-color: $olive}
.bg-green 		{background-color: $green}
.bg-teal 		{background-color: $teal}
.bg-blue 		{background-color: $blue}
.bg-violet 		{background-color: $violet}
.bg-purple 		{background-color: $purple}
.bg-pink 		{background-color: $pink}
.bg-brown 		{background-color: $brown}
.bg-grey 		{background-color: $grey}
.bg-graylight 	{background-color: $graylight}
.bg-black 		{background-color: $black}
.bg-white 		{background-color: $white}


// all opacity needed
.op0{@include opacity(0)}
.op05{@include opacity(0.05)}
.op10{@include opacity(0.1)}
.op15{@include opacity(0.15)}
.op20{@include opacity(0.2)}
.op30{@include opacity(0.3)}
.op40{@include opacity(0.4)}
.op50{@include opacity(0.5)}
.op60{@include opacity(0.6)}
.op70{@include opacity(0.7)}
.op80{@include opacity(0.8)}
.op90{@include opacity(0.9)}
.op95{@include opacity(0.95)}
.op100{@include opacity(1)}


// ways
.code1{padding:0.2em 0.5em; color:#c04040;background-color:#f8f8f8;border-radius:0.25rem;font-size:90%;}

body .w100{width:100px; max-width:100%;}
body .w125{width:125px; max-width:100%;}
body .w150{width:150px; max-width:100%;}
body .w200{width:200px; max-width:100%;}
body .w250{width:250px; max-width:100%;}
body .w300{width:300px; max-width:100%;}
body .w400{width:400px; max-width:100%;}
body .w500{width:500px; max-width:100%;}

body .we100{min-width:100px;width:100px}
body .we125{min-width:125px;width:125px}
body .we150{min-width:150px;width:150px}
body .we200{min-width:200px;width:200px}
body .we250{min-width:250px;width:250px}
body .we300{min-width:300px;width:300px}
body .we400{min-width:400px;width:400px}
body .we500{min-width:500px;width:500px}
