
.pagination{
	text-align:center;
	position:relative;
	-webkit-border-radius:0.25rem;
	-moz-border-radius:0.25rem;
	border-radius:0.25rem;
	overflow:hidden;
	display:-webkit-box;
	display:-webkit-flex;
	display:-moz-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	-webkit-justify-content:center;
	-moz-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
	transition:0.5s;
	border:1px solid rgba(0,0,0,0.1);
}
.pagination a{
	position:relative;
	padding:1em 1.5em;
	-webkit-transition:.3s;
	-o-transition:.3s;
	-moz-transition:.3s;
	transition:.3s;
	cursor: pointer;
	background-color:transparent;
	color: #777;
	border: 1px solid transparent;
}
.pagination a:hover{
	background-color: rgba(0,0,0,0.05);
	opacity: 0.8;
}

.pagination a:focus{
	background-color: rgba(0,0,0,0.15);
}
.pagination a:not([href]){
	cursor: default;
}
.pagination .active{
	font-weight:700;
	background-color: rgba(0,0,0,0.2);
	color: #fff;
}

.pagination a.next::after{
	content:'>';
	text-align:center;
	padding:0 3px;
}
.pagination a.prev::before{
	content:'<';
	text-align:center;
	padding:0 3px;
}
.pagination a.next,.pagination a.prev{
	padding:1em 2em;
}



