




.tbl1 {
  background-color: #fff;
}

.tbl1 table {
  width: 100%;
}

.tbl1 th, .tbl1 td {
  padding-right: 1rem;
  text-align:left;
}
.rtl .tbl1 th, .rtl .tbl1 td {
  text-align:right;
}

.tbl1 .column1 {
  width: 33%;
  padding-left: 40px;
}

.tbl1 .column2 {
  width: 13%;
}

.tbl1 .column3 {
  width: 22%;
}

.tbl1 .column4 {
  width: 19%;
}

.tbl1 .column5 {
  width: 13%;
}

.tbl1 .tbl1-head th {
  padding-top: 18px;
  padding-bottom: 18px;
}

.tbl1 .tbl1-body td {
  padding-top: 16px;
  padding-bottom: 16px;
}



/*==================================================================
[ Fix header ]*/
.tbl1 {
  position: relative;
  padding-top: 60px;
}

.tbl1 .tbl1-head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.tbl1 .tbl1-body {
  max-height: 585px;
  overflow: auto;
}


/*==================================================================
[ Ver1 ]*/

.tbl1.ver1 th {
  font-size: 18px;
  color: #fff;
  line-height: 1.4;

  background-color: #6c7ae0;
}

.tbl1.ver1 td {
  font-size: 15px;
  color: #808080;
  line-height: 1.4;
}

.tbl1.ver1 .tbl1-body tr:nth-child(even) {
  background-color: #f8f6ff;
}

/*---------------------------------------------*/

.tbl1.ver1 {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.tbl1.ver1 .ps__rail-y {
  right: 5px;
}

.tbl1.ver1 .ps__rail-y::before {
  background-color: #ebebeb;
}

.tbl1.ver1 .ps__rail-y .ps__thumb-y::before {
  background-color: #cccccc;
}


/*==================================================================
[ Ver2 ]*/

.tbl1.ver2 .tbl1-head {
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
}

.tbl1.ver2 th {
  font-size: 18px;
  color: #fa4251;
  line-height: 1.4;

  background-color: transparent;
}

.tbl1.ver2 td {
  font-size: 15px;
  color: #808080;
  line-height: 1.4;
}

.tbl1.ver2 .tbl1-body tr {
  border-bottom: 1px solid #f2f2f2;
}

/*---------------------------------------------*/

.tbl1.ver2 {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.tbl1.ver2 .ps__rail-y {
  right: 5px;
}

.tbl1.ver2 .ps__rail-y::before {
  background-color: #ebebeb;
}

.tbl1.ver2 .ps__rail-y .ps__thumb-y::before {
  background-color: #cccccc;
}

/*==================================================================
[ Ver3 ]*/

.tbl1.ver3 {
  background-color: #393939;
}

.tbl1.ver3 th {
  font-size: 15px;
  color: #00ad5f;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: #393939;
}

.tbl1.ver3 td {
  font-size: 15px;
  color: #808080;
  line-height: 1.4;
  background-color: #222222;
}


/*---------------------------------------------*/

.tbl1.ver3 {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.tbl1.ver3 .ps__rail-y {
  right: 5px;
}

.tbl1.ver3 .ps__rail-y::before {
  background-color: #4e4e4e;
}

.tbl1.ver3 .ps__rail-y .ps__thumb-y::before {
  background-color: #00ad5f;
}


/*==================================================================
[ Ver4 ]*/

.tbl1.ver4 .tbl1-head {
  padding-right: 20px;
}

.tbl1.ver4 th {
  font-size: 18px;
  color: #4272d7;
  line-height: 1.4;

  background-color: transparent;
  border-bottom: 2px solid #f2f2f2;
}

.tbl1.ver4 .column1 {
  padding-left: 7px;
}

.tbl1.ver4 td {
  font-size: 15px;
  color: #808080;
  line-height: 1.4;
}

.tbl1.ver4 .tbl1-body tr {
  border-bottom: 1px solid #f2f2f2;
}

/*---------------------------------------------*/

.tbl1.ver4 {
  overflow: hidden;
}

.tbl1.ver4 .tbl1-body{
  padding-right: 20px;
}

.tbl1.ver4 .ps__rail-y {
  right: 0px;
}

.tbl1.ver4 .ps__rail-y::before {
  background-color: #ebebeb;
}

.tbl1.ver4 .ps__rail-y .ps__thumb-y::before {
  background-color: #cccccc;
}


/*==================================================================
[ Ver5 ]*/

.tbl1.ver5 th {
  font-size: 14px;
  color: #555555;
  line-height: 1.4;
  text-transform: uppercase;

  background-color: transparent;
}

.tbl1.ver5 td {
  font-size: 15px;
  color: #808080;
  line-height: 1.4;
  background-color: #f7f7f7;
}

.tbl1.ver5 .tbl1-body tr {
  overflow: hidden;
  border-bottom: 1rem solid #fff;
  border-radius: 1rem;
}

.tbl1.ver5 .tbl1-body table {
  border-collapse: separate;
  border-spacing: 0 1rem;
}
.tbl1.ver5 .tbl1-body td {
    border: solid 1px transparent;
    border-style: solid none;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.tbl1.ver5 .tbl1-body td:first-child {
    border-left-style: solid;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.tbl1.ver5 .tbl1-body td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}
.tbl1.ver5 tr:hover td{
	transition:0.3s;
}

.tbl1.ver5 tr:hover td {
  background-color: #ebebeb;
}

.tbl1.ver5 .tbl1-head th {
  padding-top: 25px;
  padding-bottom: 25px;
}

/*---------------------------------------------*/

.tbl1.ver5 {
  overflow: hidden;
}

.tbl1.ver5 .tbl1-body{
  padding-right: 30px;
}

.tbl1.ver5 .ps__rail-y {
  right: 0px;
}

.tbl1.ver5 .ps__rail-y::before {
  background-color: #ebebeb;
}

.tbl1.ver5 .ps__rail-y .ps__thumb-y::before {
  background-color: #cccccc;
}





