
/* timeline */
.sTimeline{position:relative;background-color:#fff;padding:0 10%;padding:3em 0;max-width:1080px;margin:0 auto;border-radius:0.25rem;overflow:hidden}
.sTimeline::before{content:'';position:absolute;top:0;left:50%;height:100%;width:1px;background:#aaa}
.sTimeline::after{content:'';display:table;clear:both}
// event
.sTimeline .event{position:relative;margin:0 0 1em}
.sTimeline .event:before{content:"";position:absolute;top:31px;width:10px;height:10px;border-radius:50%;background-color:#ccc;left:50%;margin-left:-4px;box-shadow:0px 0px 2px 8px #fff}
.sTimeline .event[data-done]:before{background-color:green;}
.sTimeline .event:after{content:"";display:table;clear:both}
// content
.sTimeline .event .timeline-content{position:relative;margin-left:60px;margin-right:30px;background:#e8eded;border-radius:2px;padding:1em;transition:0.3s;}
.sTimeline .event .timeline-content::before{content:'';position:absolute;top:16px;right:100%;height:0;width:0;border:7px solid transparent;border-right:7px solid #e8eded}
.sTimeline .event .timeline-content:after{content:"";display:table;clear:both}
.sTimeline .event .timeline-content:hover{background-color:#e4e5e7}
.sTimeline .event .timeline-content h2{color:rgba(0,0,0,0.9);margin-top:0;margin-bottom:5px}
.sTimeline .event .detail{background:#f5f6f8;padding:5px 10px;color:rgba(0,0,0,0.7);box-shadow:inset 0 2px 0 rgba(0,0,0,0.08);border-radius:2px}
.sTimeline .event .timeline-content p{color:rgba(0,0,0,0.7);margin:1em 0;}



@media only screen and (min-width: 1170px) {
// event
.sTimeline .event:nth-child(even) .timeline-content{float:right}
.sTimeline .event:nth-child(even) .timeline-content::before{top:30px;left:auto;right:100%;border-color:transparent;border-right-color:#e8eded}
.rtl .sTimeline .event:nth-child(even) .timeline-content{float:left}
.rtl .sTimeline .event:nth-child(even) .timeline-content::before{top:30px;left:100%;right:auto;border-color:transparent;border-left-color:#e8eded}
// content
.sTimeline .event .timeline-content{color:#fff;padding:1em;width:45%;margin:0 2%}
.sTimeline .event .timeline-content::before{top:30px;left:100%;border-color:transparent;border-left-color:#e8eded}
.rtl .sTimeline .event .timeline-content::before{left:auto;right:100%;border-color:transparent;border-right-color:#e8eded}
}

@media only screen and (max-width: 768px) {
.sTimeline::before{left:25px;}

}

