
/* footer */
.siftal footer{height:30px;flex-shrink:0;background-color:#eaeaea;}
.siftal footer #copyright{padding:0 1em;}
.siftal.ltr footer #copyright{margin-left:auto;}
.siftal.rtl footer #copyright{margin-right:auto;}
.siftal footer #copyright span{display:inline-block;line-height:30px;height:30px}
.siftal footer #copyright abbr{display:inline-block;line-height:30px;height:30px}


