

.dt>.f.th{background-color:#302b2b;color:#fff;font-weight:700}
.dt>.f:not(.th):nth-child(even){background-color:#fff}
.dt>.f:not(.th):nth-child(odd){background-color:#eee}
.dt>.f:not(.th){transition:.3s}
.dt>.f:not(.th):hover{background-color:#90caf9}
.dt>.f>[class*="c"]{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;-moz-box-align:center;align-items:center;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:-moz-box;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;-moz-box-pack:center;justify-content:center;text-align:center;padding:.5rem}
.dt>.f > div{padding:1em 0.5em ;}
.dt a{color:#00667a;transition:.3s;border-bottom:2px solid transparent}
.dt a:hover,.dt a:focus,.dt a:active{border-bottom:2px solid #00667a}

.dt.big>.f.th>[class*="c"]{padding-top:2em;padding-bottom:2em;}
.dt.big>.f>[class*="c"]{padding-top:1em;padding-bottom:1em;}
