.Test-describe {
    font-size: 1.5em;
    margin: 60px 0 20px;
}

.Test-describe, .Test-it {
    background: #fff;
    border-left: 5px solid #666;
    color: #666;
    font-family: sans-serif;
    font-weight: bold;
    margin: 20px 0;
    padding: 0.75em 20px;
}

.Test-run--highlightEl > * {
    outline: 1px solid #ADD8E6;
}

#form-collection-margins {
    outline: 1px solid #ADD8E6;
    overflow: hidden;
}



@-webkit-keyframes grid {
  0% {
    width: 100%;
  }
  45% {
    width: 90%;
  }
  55% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes grid {
  0% {
    width: 100%;
  }
  45% {
    width: 90%;
  }
  55% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}
@keyframes grid {
  0% {
    width: 100%;
  }
  45% {
    width: 90%;
  }
  55% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}

.animated {
  margin: 0 auto;
  -webkit-animation: grid 7s ease infinite;
  -moz-animation: grid 7s ease infinite;
  animation: grid 7s ease infinite;
}

.f.animated{background-color:rgba(0,0,0,0.1)}


.example{
  position: relative;
  border:3px solid #f6f6f6;
  margin: 1em;
  padding: 1em 1.5em;
  overflow:hidden;
  transition:0.3s;
}
.example:hover{
  border-color:#d8d8c8;
}

.example .vcard img.frame{
  opacity: 0.5;
}