// styles of btn as default
.btn{
	cursor: pointer;
	display: inline-block;
	outline: none;
	padding: 5px 1.2em;
	text-decoration:none;
	text-align:center;
	transition:.2s ease-out;
	border-radius:.25rem;
	white-space:nowrap;
	vertical-align: middle;
	user-select:none;
	border: 1px solid transparent;
	height:36px;
	line-height:24px;
	font-weight:700;
	background-color:#e2e2e2;
	color:rgba(0,0,0,.5);
	overflow: hidden;

}
.outline{
	background-color: transparent;
	border-color:#e2e2e2;
	color: #aaa;
}
.btn:hover{
	background-color:#dcdcdc;
	color:rgba(0,0,0,.8);
}
.btn:focus{
	background-color:#cdcdcd;
	color:rgba(0,0,0,1);
}
.btn:active, .btn.active{
	background-color:#bbbbbb;
	color:rgba(0,0,0,1);
}


// sizes
.btn.xs{
	height:20px;
	font-size: 60%;
	padding: 0.5em 1em;
}
.btn.sm{
	height:30px;
	font-size: 75%;
	padding: 0.5em 1em;
}
.btn.lg{
	height:50px;
	font-size: 120%;
}
.btn.xl{
	height:60px;
	font-size: 150%;
}

.btn.weAreHere{
	border-color: #168187;
}
