.radio1{padding:8px 0;overflow:hidden;}

.radio1 input{
	padding:0;
	margin:0;
	position:absolute;
	z-index:-1;
	width:0;
	height:0;
	opacity:0;
	cursor: pointer;
}
.radio1 label{
	position:relative;
	cursor:pointer;
	padding:0;
	display:inline-block;
	line-height: 1;
}
.radio1 label:first-of-type::before{content:'';margin-right:10px;display:inline-block;vertical-align:middle;width:20px;height:20px;transition:0.3s;border-radius:50%;border:1px solid rgba(0,0,0,0.1);}
.radio1 label:first-of-type::after{
	content:'';
	position:absolute;
	left:5px;
	top:9px;
	background-color:#fff;
	width:2px;
	height:2px;
	box-shadow:2px 0 0 white,4px 0 0 white,4px -2px 0 white,4px -4px 0 white,4px -6px 0 white,4px -8px 0 #fff;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
	opacity:0;
	transition:0.1s;
}
.radio1 label:first-of-type:hover::before{border-color:rgba(0, 0, 0, 0.2)}
.radio1 input:checked+label:first-of-type::after{opacity:1}
.radio1 input:checked+label:first-of-type::before{background-color:#4090d0;border-color:transparent;}
.radio1 input:not(:checked):focus+label:first-of-type::before{border-color:rgba(128, 192, 208, 0.9)}
.radio1 input:checked:focus+label:first-of-type::before{opacity: 0.7}
.radio1 input:disabled+label:first-of-type{color:#bbb;cursor:auto}
.radio1 input:disabled+label:first-of-type::before{background-color:#ddd}
.rtl .radio1 label:first-of-type::before{margin-right:0;margin-left:10px;}
.rtl .radio1 label:first-of-type::after{left:0;right:13px;}

// colored radio
.radio1.red input:checked+label:first-of-type::before{background-color:#e74c3c}
.radio1.yellow input:checked+label:first-of-type::before{background-color:#f1c40f}
.radio1.green input:checked+label:first-of-type::before{background-color:#2ecc71}
.radio1.black input:checked+label:first-of-type::before{background-color:#333}





/* radio type 2*/
.radio2{background-color:#f7f7f7;border-radius:3px;}
.radio2 label[for]{cursor:pointer}
.radio2 input[type="radio"]{padding:0;margin:0;position:absolute;z-index:-1;width:0;height:0;opacity:0}
.radio2 input[type="radio"]+label{position:relative;display:block;color:#777;font-size:1em;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;padding:35px 5px 0;line-height:25px;text-align:center;}
.radio2 input[type="radio"]+label::before{-webkit-transition:all 250ms cubic-bezier(.4,.25,.3,1);transition:all 250ms cubic-bezier(.4,.25,.3,1);content:"";width:20px;height:20px;border-radius:50%;background-color:#999;border:0 solid #999;font-size:0;position:absolute;top:0;left:50%;-webkit-transform:translate(-50%,50%);transform:translate(-50%,50%)}
.radio2 input[type="radio"]+label::after{-webkit-transition:all 250ms cubic-bezier(.4,.25,.3,1);transition:all 250ms cubic-bezier(.4,.25,.3,1);content:"";width:0;height:0;border-radius:50%;background-color:#999;position:absolute;top:0;left:50%;-webkit-transform:translate(-50%,50%);transform:translate(-50%,50%)}
.radio2 input[type="radio"]+label:hover::before{background-color:#4090d0;}
.radio2 input[type="radio"]:checked+label::before{background-color:transparent;width:30px;height:30px;border-width:2px;top:-10px;}
.radio2 input[type="radio"]:checked+label::after{width:20px;height:20px;background-color:#4090d0}
.radio2 input[type="radio"]:checked+label:hover::before{border-color:#4090d0}
.radio2 input[type="radio"]:focus+label::before{box-shadow:0 0 0 3px rgba(0,0,0,0.2)}
.radio2 img{max-width: 120px;max-height: 120px;}
/* radio type 1 - vertical*/
.radio2.v input[type="radio"]+label{padding:0 20px;line-height:50px;padding-left:40px;text-align:left;height:50px;}
.radio2.v input[type="radio"]+label::before{bottom:25px;left:20px;}
.radio2.v input[type="radio"]+label::after{bottom:25px;left:20px;}
.rtl .radio2.v input[type="radio"]+label{padding-left:5px;padding-right:40px;text-align:right;}
.rtl .radio2.v input[type="radio"]+label::before{left:initial;right:20px;-webkit-transform:translate(50%,50%);transform:translate(50%,50%);}
.rtl .radio2.v input[type="radio"]+label::after{left:initial;right:20px;-webkit-transform:translate(50%,50%);transform:translate(50%,50%);}



// radio gateway
.radioGateway{padding:1em;position:relative;cursor:pointer;display:inline-flex;}
.radioGateway input{padding:0;margin:0;position:absolute;z-index:-1;width:0;height:0;opacity:0}
.radioGateway label{padding:0;position:relative;cursor:pointer;border:2px solid #efefef;transition:0.3s;background-color:rgba(0,0,0,0.1);width:68px;height:68px;border-radius:0.25rem;}
.radioGateway img{width:100%;height:auto;}
.radioGateway input:checked+label{border-color:#37aaa7;background-color:rgba(240,240,240,0.5)}
.radioGateway input:hover+label{opacity:0.8}
.radioGateway input:focus+label{border-color:#22827f;}




