.radio1{margin:10px 0;overflow:hidden}

.radio1 input{
	cursor: pointer;
}

.radio1 label{
	cursor:pointer;
	padding: 0;
}


.radio1 input{padding:0;margin:0;position:absolute;z-index:-1;width:0;height:0;opacity:0}
.radio1 label{position:relative;cursor:pointer;padding:0;display:inline-block;}
.radio1 label::before{content:'';margin-right:10px;display:inline-block;vertical-align:middle;width:20px;height:20px;transition:0.3s;border-radius:50%;border:1px solid rgba(0,0,0,0.1);}
.radio1 label::after{
	content:'';
	position:absolute;
	left:5px;
	top:9px;
	background-color:#fff;
	width:2px;
	height:2px;
	box-shadow:2px 0 0 white,4px 0 0 white,4px -2px 0 white,4px -4px 0 white,4px -6px 0 white,4px -8px 0 #fff;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
	opacity:0;
	transition:0.1s;
}
.radio1 label:hover::before{border-color:rgba(0, 0, 0, 0.2)}
.radio1 input:checked+label::after{opacity:1}
.radio1 input:checked+label::before{background-color:#4090d0;border-color:transparent;}
.radio1 input:not(:checked):focus+label::before{border-color:rgba(128, 192, 208, 0.9)}
.radio1 input:checked:focus+label::before{opacity: 0.7}
.radio1 input:disabled+label{color:#bbb;cursor:auto}
.radio1 input:disabled+label::before{background-color:#ddd}
.rtl .radio1 label::before{margin-right:0;margin-left:10px;}
.rtl .radio1 label::after{left:0;right:13px;}

// colored radio
.radio1.red input:checked+label::before{background-color:#e74c3c}
.radio1.yellow input:checked+label::before{background-color:#f1c40f}
.radio1.green input:checked+label::before{background-color:#2ecc71}
.radio1.black input:checked+label::before{background-color:#333}


