.switch1{overflow: hidden;margin:10px 0;vertical-align:middle;}
.switch1 input{padding:0;margin:0;position:absolute;z-index:-1;width:0;height:0;opacity:0}

.switch1 label{
  padding: 5px 10px;
  cursor: pointer;
}

.switch1 label:first-of-type{
  position: relative;
  cursor: pointer;
  height: 35px;
  width: 70px;
  background: #eee;
  border-radius: 15px;
  transition: .2s;
  border:1px solid transparent;
  overflow: hidden;
  padding: 0;
  font-size:0;
  line-height:0;
  display: inline-block;
}
.switch1 label:first-of-type:hover{
  border-color:rgba(0, 0, 0, 0.2);
}
.switch1 input:focus + label:first-of-type{
  border-color:rgba(128, 192, 208, 0.9)
}

// extra text for detail
.switch1 label:first-of-type:before {
  content: "OFF";
  position: absolute;
  max-width:25px;
  line-height: 27px;
  font-size: 12px;
  font-weight: bold;
  transition: all .2s;
  top: 3px;
  right: 10px;
  color: #999;
  transition:0.3s;
  overflow:hidden;
}
.switch1 label:first-of-type:after{
  content: '';
  position: absolute;
  width: 27px;
  height: 27px;
  transition: all .2s ease-in-out;
  border-radius: 50%;
  background: #7F8C9A;
  top: 3px;
  left: 3px;
}

// checked status
.switch1 input:checked + label:first-of-type{
  background:#33414e;
  background:#34A7C1;
  background-color: #4090d0;
}
.switch1 input:focus:checked + label:first-of-type{
  background-color:#105090;
}
.switch1 input:checked + label:first-of-type:before {
  content: "ON";
  left: 10px;
  right:inherit;
  color: #fff;
}
.switch1 input:checked + label:first-of-type:after {
  background: #fff;
  top: 3px;
  left: 38px;
}


// rtl fix
html[lang=fa] .switch1 label:first-of-type:before{
  content: "غیرفعال";
  font-size: 8px;
}
html[lang=fa] .switch1 input:checked + label:first-of-type:before {
  content: "فعال";
  font-size: 10px;
}

.switch1 label:first-of-type[data-off]:before{
  content: attr(data-off);
}
.switch1 input:checked + label:first-of-type[data-on]:before{
  content: attr(data-on);
}

